body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.hack {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  font-size: xx-large;
  text-align: center;
}

#bigHeader {
  z-index: 5;
  position: relative;
}

#headerBackground {
  width: 100%;
  height: auto;
  margin: -1000px 0px 0px 0px;
  opacity: 0.2;
}

#details {
  text-align: left;
  padding: 0px 50px 0px 50px;
}

#eventBlurb {
  font-size: 14pt;
}